name: Pull Request

on: [ pull_request ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-dart
      - run: dart pub get
      - run: dart format -o none --set-exit-if-changed .
      - run: dart analyze
      - run: dart pub global activate dart_dependency_checker_cli
      - run: ddc dun --di build_runner,build_version,lints
      - run: ddc tu --di async,convert
      - run: dart run build_runner build --delete-conflicting-outputs
      - run: dart test
